In [1]:
#Import Statements
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import os
import shutil
import zipfile

In [2]:
## Start SparkSession
spark=SparkSession.builder.appName("CreditCardFraudDetection").getOrCreate()

In [3]:
dataset_name = "mlg-ulb/creditcardfraud"
download_path = "data/"

# Create the directory if it doesn't exist
os.makedirs(download_path, exist_ok=True)

# Use the Kaggle API to download the dataset
os.system(f"kaggle datasets download -d {dataset_name} -p {download_path}")

0

In [4]:
zip_file = f"{download_path}creditcardfraud.zip"
with zipfile.ZipFile(zip_file, "r") as zip_ref:
    zip_ref.extractall(download_path)

# Remove the zip file
os.remove(zip_file)

In [5]:
input_path = "data/"
original_file = "data/creditcard.csv"
#Duplicate the file
for i in range(1, 6):
    shutil.copy(original_file, f"{input_path}creditcard_{i}.csv")

# Load all files into a single DataFrame
df = spark.read.csv(f"{input_path}/*.csv", header=True, inferSchema=True)

In [6]:
#Deduplicate the data in Dataframe
df=df.dropDuplicates()

In [7]:
#Get the count of unique rows in the Dataframe
df.count()

283726

In [8]:
# Check the schema
df.printSchema()

root
 |-- Time: double (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: double (nullable = true)
 |-- V3: double (nullable = true)
 |-- V4: double (nullable = true)
 |-- V5: double (nullable = true)
 |-- V6: double (nullable = true)
 |-- V7: double (nullable = true)
 |-- V8: double (nullable = true)
 |-- V9: double (nullable = true)
 |-- V10: double (nullable = true)
 |-- V11: double (nullable = true)
 |-- V12: double (nullable = true)
 |-- V13: double (nullable = true)
 |-- V14: double (nullable = true)
 |-- V15: double (nullable = true)
 |-- V16: double (nullable = true)
 |-- V17: double (nullable = true)
 |-- V18: double (nullable = true)
 |-- V19: double (nullable = true)
 |-- V20: double (nullable = true)
 |-- V21: double (nullable = true)
 |-- V22: double (nullable = true)
 |-- V23: double (nullable = true)
 |-- V24: double (nullable = true)
 |-- V25: double (nullable = true)
 |-- V26: double (nullable = true)
 |-- V27: double (nullable = true)
 |-- V28: double (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Class: integer (nullable = true)

In [9]:
# Dataset shape
print(f"Rows: {df.count()}, Columns: {len(df.columns)}")

Rows: 283726, Columns: 31

In [10]:
#Check for nulls in the Dataframe
df.select([F.count(F.when(F.col(c).isNull(), c).alias(c)) for c in df.columns]).show()

+-----------------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+-----------------------------------------------------------+--------------------------------------------------------+
|count(CASE WHEN (Time IS NULL) THEN Time END AS Time)|count(CASE WHEN (V1 IS NULL) THEN V1 END AS V1)|count(CASE WHEN (V2 IS NULL) THEN V2 END AS V2)|count(CASE WHEN (V3 IS NULL) THEN V3 END AS V3)|count(CASE WHEN (V4 IS NULL) THEN V4 END AS V4)|count(CASE WHEN (V5 IS NULL) THEN V5 END AS V5)|count(CASE WHEN (V6 IS NULL) THEN V6 END AS V6)|count(CASE WHEN (V7 IS NULL) THEN V7 END AS V7)|count(CASE WHEN (V8 IS NULL) THEN V8 END AS V8)|count(CASE WHEN (V9 IS NULL) THEN V9 END AS V9)|count(CASE WHEN (V10 IS NULL) THEN V10 END AS V10)|count(CASE WHEN (V11 IS NULL) THEN V11 END AS V11)|count(CASE WHEN (V12 IS NULL) THEN V12 END AS V12)|count(CASE WHEN (V13 IS NULL) THEN V13 END AS V13)|count(CASE WHEN (V14 IS NULL) THEN V14 END AS V14)|count(CASE WHEN (V15 IS NULL) THEN V15 END AS V15)|count(CASE WHEN (V16 IS NULL) THEN V16 END AS V16)|count(CASE WHEN (V17 IS NULL) THEN V17 END AS V17)|count(CASE WHEN (V18 IS NULL) THEN V18 END AS V18)|count(CASE WHEN (V19 IS NULL) THEN V19 END AS V19)|count(CASE WHEN (V20 IS NULL) THEN V20 END AS V20)|count(CASE WHEN (V21 IS NULL) THEN V21 END AS V21)|count(CASE WHEN (V22 IS NULL) THEN V22 END AS V22)|count(CASE WHEN (V23 IS NULL) THEN V23 END AS V23)|count(CASE WHEN (V24 IS NULL) THEN V24 END AS V24)|count(CASE WHEN (V25 IS NULL) THEN V25 END AS V25)|count(CASE WHEN (V26 IS NULL) THEN V26 END AS V26)|count(CASE WHEN (V27 IS NULL) THEN V27 END AS V27)|count(CASE WHEN (V28 IS NULL) THEN V28 END AS V28)|count(CASE WHEN (Amount IS NULL) THEN Amount END AS Amount)|count(CASE WHEN (Class IS NULL) THEN Class END AS Class)|
+-----------------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+-----------------------------------------------------------+--------------------------------------------------------+
|                                                    0|                                              0|                                              0|                                              0|                                              0|                                              0|                                              0|                                              0|                                              0|                                              0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                 0|                                                          0|                                                       0|
+-----------------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+-----------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+-----------------------------------------------------------+--------------------------------------------------------+

In [11]:
# Descriptive statistics
df.describe().show()

+-------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+
|summary|             Time|                  V1|                  V2|                  V3|                  V4|                  V5|                  V6|                  V7|                  V8|                  V9|                 V10|                 V11|                 V12|                 V13|                 V14|                 V15|                 V16|                 V17|                 V18|                 V19|                 V20|                 V21|                 V22|                 V23|                 V24|                 V25|                 V26|                 V27|                 V28|            Amount|               Class|
+-------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+
|  count|           283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|            283726|              283726|
|   mean|94811.07759951502|0.005917149836165632|-0.00413475562812...|0.001613119355879...|-0.00296630772034...|0.001827560113033...|-0.00113948818973...|0.001800691765307154|-8.54452573454033...|-0.00159619962170...|-0.00144071048503...|2.017576399593661...|-7.14787657406105...|6.033757913237117E-4|2.523173005216622E-4|0.001042838049814...|0.001162012815673...|1.701609445483608...|0.001515166010458...|-2.64263587519085...|1.871752473165077E-4|-3.70593123359185...|-1.50275631649489...|1.981707238115099...|2.142068242223953E-4|-2.32386989607422...|1.494410878996654E-4|0.001763031617330...|5.473121010898925E-4| 88.47268731100479|0.001667101358352777|
| stddev|47481.04789061952|  1.9480261416254694|  1.6467029642463498|   1.508681916205915|  1.4141840144475155|   1.377008279280089|  1.3319305917151651|  1.2276638954422563|  1.1790544275788055|  1.0954924810736169|  1.0764073501381088|  1.0187201526753207|  0.9946744452140565|   0.995429636770304|  0.9522150900331084|  0.9148936334525614|  0.8736963275712333|  0.8425073207466586|  0.8373775297813786|  0.8133785531048033|  0.7699842414107981|   0.723909366862053|  0.7245504654239981|  0.6237023785807299|  0.6056266981643226|  0.5212203166871485|  0.4820529408275826|  0.3957438809320346| 0.32802660429357866|250.39943711577308|0.040796176259338596|
|    min|              0.0|    -56.407509631329|   -72.7157275629303|   -48.3255893623954|   -5.68317119816995|   -113.743306711146|   -26.1605059358433|   -43.5572415712451|   -73.2167184552674|   -13.4340663182301|   -24.5882624372475|   -4.79747346479757|   -18.6837146333443|   -5.79188120632084|   -19.2143254902614|   -4.49894467676621|   -14.1298545174931|   -25.1627993693248|   -9.49874592104677|   -7.21352743017759|    -54.497720494566|   -34.8303821448146|    -10.933143697655|   -44.8077352037913|   -2.83662691870341|   -10.2953970749851|   -2.60455055280817|   -22.5656793207827|   -15.4300839055349|               0.0|                   0|
|    max|         172792.0|    2.45492999121121|    22.0577289904909|    9.38255843282114|    16.8753440335975|    34.8016658766686|    73.3016255459646|    120.589493945238|    20.0072083651213|    15.5949946071278|    23.7451361206545|    12.0189131816199|     7.8483920756446|    7.12688295859376|    10.5267660517847|    8.87774159774277|    17.3151115176278|    9.25352625047285|    5.04106918541184|    5.59197142733558|    39.4209042482199|    27.2028391573154|    10.5030900899454|    22.5284116897749|    4.58454913689817|    7.51958867870916|     3.5173456116238|    31.6121981061363|    33.8478078188831|          25691.16|                   1|
+-------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+

In [12]:
# Print the mean of the Class column
df.select(F.mean(df['Class'])).show()

+--------------------+
|          avg(Class)|
+--------------------+
|0.001667101358352777|
+--------------------+

In [13]:
# Print the median of Amount column
df.select(F.median(df['Amount'])).show()

+--------------+
|median(Amount)|
+--------------+
|          22.0|
+--------------+

In [14]:
#Print the mode of the Time column
df.select(F.mode(df['Time'])).show()

+----------+
|mode(Time)|
+----------+
|    3767.0|
+----------+

In [15]:
# Rename columns for consistency
df = df.toDF(*[col.lower().replace(" ", "_") for col in df.columns])

In [16]:
# Find the mean amount
meanAmount=df.select(F.mean(F.col("amount"))).collect()[0][0]
print("Mean of Amounts is: ",meanAmount)

Mean of Amounts is:  88.47268731100479

In [ ]:
# Find the Standard deviation of Amount
sdvAmount=df.select(F.stddev(F.col("amount"))).collect()[0][0]
print("Standard devation of Amounts is: ", sdvAmount)

In [ ]:
# Add NormalizedAmount column
df=df.withColumn("NormalizedAmount",(F.col("amount")-meanAmount)/sdvAmount).withColumn("AmountLog",F.log("amount")+1)

In [ ]:
# Save the df in parquet format
output_path = "output_data/"
df.write.parquet(output_path, mode="overwrite")
print(f"Data saved to {output_path} in Parquet format.")

In [ ]:
#Create a Temp View
df.createOrReplaceTempView("creditcard_data")

# SQL queries
query1 = "SELECT AVG(NormalizedAmount) AS avg_norm_amount FROM creditcard_data WHERE class = 1"
query2 = "SELECT MAX(NormalizedAmount) AS max_norm_amount FROM creditcard_data WHERE class = 0"
query3 = "SELECT class, AVG(AmountLog) AS avg_amountlog FROM creditcard_data GROUP BY class"

# Execute queries
avg_norm_amount = spark.sql(query1).show()
max_norm_amount = spark.sql(query2).show()
avg_amountlog = spark.sql(query3).show()